/* Page */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
text-align:center;
}
/* Header */
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.no-padding-right { padding-right:0px; }
header img { float:right; }
/* Table */
table tbody { cursor:pointer; }
.error-row > td {
	background:rgba(255, 61, 40, 0.87) !important; 
	border-bottom:1px solid #8F4141;
	font-weight:bold;
}
tr.error-row:hover> td {
	background:rgba(231, 76, 60,1.0) !important; 
}
.warning-row > td {
	background:rgb(243, 156, 18) !important; 
	border-bottom:1px solid #BD5D27;
	font-weight:bold;
}
 tr.warning-row:hover> td {
	background:rgb(255, 181, 65) !important; 
}
.logmsg-error {
  color:#FF3D28;
  font-weight:bold;
}
/* Chart Settings */
.axis text {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
  fill-opacity: .9;
}
.x.axis path {
  display: none;
}
/* Logmsg tabs and contents */
.tab-row{
  margin-top:15px;
}
#myTab a {
	cursor:pointer;
}
#bucket-time {
	margin-left:8px;
	padding-left:5px;
	border-radius:5px;
}
/* 
Responsive styling - Makes sure page looks suitable on phone, tablet and browser
Used to style for iPhone and iPad - Resize your browser window to see it happen 
Extra small devices (phones, less than 768px)
No media query since this is the default in Bootstrap 
*/

/* Small devices (tablets, up to 768px) */
@media (min-width: 300px) { 
	.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {	padding:1px;	}
	#heartbeat-table tr th:nth-child(1),#heartbeat-table tr td:nth-child(1),#heartbeat-table tr th:nth-child(4),#heartbeat-table tr td:nth-child(4) {  display:none; visibility:hidden; }
}
@media (min-width:768px) { 
	#heartbeat-table tr th:nth-child(1),#heartbeat-table tr td:nth-child(1),#heartbeat-table tr th:nth-child(4),#heartbeat-table tr td:nth-child(4)	{  display:table-cell; visibility:visible; }
}
/* Medium devices (desktops, 768px and up) */
@media (min-width:768px) { 
	.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {	padding:8px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* DataTables - Fix for cell highlighting */
table.dataTable tr.odd td.sorting_1,table.dataTable tr.odd td.sorting_2 {background-color:#f9f9f9;}
table.dataTable tr.even td.sorting_1,table.dataTable tr.even td.sorting_2,table.dataTable tr.odd  {background-color:transparent;}
table.dataTable tr.odd:hover td.sorting_1,table.dataTable tr.odd:hover td.sorting_2 {background-color:#F5F5F5;}
table.dataTable tr:hover {background-color:#F5F5F5;}
table.dataTable tr:first-child:hover {background-color:transparent;}
table.dataTable thead th {border-bottom: inherit !important;}
table{border-color:#FFF}
